/* Estilos de la cabecera */
header{
    width: 100%;
    height: auto;
    margin-bottom: 20px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    background-color: #3F51B5;
    border-bottom: 5px solid #fff;
    border-bottom-right-radius: 8px;
}

.logo{
    width: auto;
    padding: 15px;
}

.logo img, .menu-final img{
    width: 60px;
    height: 60px;
}

.logo h1{
    display: inline;
    color: #fff;
}
